.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.textarea {
  resize: vertical;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.submitButton,
.cancelButton {
  flex: 1;
  padding: 7px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton {
  background-color: #28a745;
  color: white;
}

.submitButton:hover {
  background-color: #218838;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
}

.cancelButton:hover {
  background-color: #c82333;
}